html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./resources/background/mosaic/mosaic.png');
  font-family: 'Frank Ruhl Libre';font-size: 25px;
  width: 100%;
  font-size: 20px;
	text-align: center;
}

/* navbar start */

#navbar {
  z-index: 1024;
  height: 60px;
  background-color: #333; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  opacity: 0.8;
  transition: top 0.4s; 
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  text-shadow: 0 0 10px   #ff0000;
}

/* navbar end */

.wrapper{
  display: flex;
  padding-top: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftSideBar {
  margin-left: 1%;
  width: 10%;
  position: relative;
  margin-top: 25px;
  box-sizing: border-box;
  height: 100%;
  border: 5px solid whitesmoke;
}

.leftSideBar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  text-decoration: none;
}

.leftSideBar a:hover {
  color: chocolate;
}

.site-content {
  margin-top: 25px; 
  margin-left: 25px;
  margin-right: 1%;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;  
  color: navy;
  text-align: center;
}

/* About: start */

.about-us{
  font-size: 24px;
  color: whitesmoke;
  align-content: center;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.about-us p::first-letter {
  font-size: 200%;
}

/* About: end */

/* Image gallery start */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}

.container .heading h3{
  font-size: 3em;
  font-weight: bolder;  
  border-bottom: 3px solid #222;
  padding-bottom: 10px;
}

.container .heading h3 span{
  font-weight: 100;  
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

  /* For image overlay on hover */
  .img-container {
    width:100%
  }

  .img-container img {
    transition: 0.5s;
    z-index: 1;
  }

.overlay {
  opacity: 0;
  z-index: 2;
  position: absolute;
  transition: .5s;
  background-color: black;
  border-radius: 5px;    

}

.overlay h3 {
  color: gold;
  margin: auto;
  padding: 10px;
}


.overlay a {
  text-decoration: none;
  color: gold;
}

.img-container:hover img {
  filter: blur(6px);
  transition: .5s;
}

.img-container:hover .overlay {
  opacity: 1;
  transition: .5s;

}


/* Image gallery end */

/* Footer */

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(23, 92, 124);
  color: white;
  text-align: center;
}

/* Social Media */

.fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 4fr;  
  transition-duration: 0.3s;
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}  
.fa-snapchat-ghost {  
  background: #fffc00;  
  color: white;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}  
.fa-skype {  
  background: #00aff0;  
  color: white;  
}  
.fa:hover {  
    opacity: 1;
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;

}  